.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login {
    display: block;
    margin: 10px;
}

.login-details {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login-button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: #fff;
}

.login-button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.sign-up {
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
    transition: 0.72s;
}

.sign-up:hover {
    transition: 0.72s;
    text-decoration: underline;
}